.b-scs_quotes {
    @include font(regular, 14px, 1.43);

    background-color: color(white);
    padding: $padding-inner;
    margin-bottom: 16px;

    &-top {
        @include media(m-up) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 16px;
        }
    }

    &-block_1 {
        @include media(m-up) {
            max-width: 40%;
            flex-grow: 1;
        }
    }

    &-block_prh,
    &-txt {
        margin: 0;

        @include media(s) {
            margin-bottom: 12px;
        }
    }

    &-txt {
        @include media(s) {
            margin-bottom: 0;
        }
    }
}
