.l-cart {
    background-color: color(gray-3);
    min-height: 100px;
    position: relative;

    @include media(s) {
        margin-bottom: 24px;
    }

    &.m-empty {
        .l-cart-main {
            grid-column: 1/13;
        }

        .l-cart-aside {
            display: none;
        }

        .b-cart_top-continue {
            display: none;
        }
    }

    &-container {
        @include site-width();

        display: grid;
        grid-template: auto auto 1fr / repeat(12, 1fr);
        grid-gap: 32px;
        padding-top: 40px;

        @include media(s) {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }

    &-header {
        grid-column: 1/13;

        @include media(s) {
            display: flex;
            flex-direction: column;
        }
    }

    &-error {
        grid-column: 1/13;

        @include media(s) {
            padding: 0 20px 32px;
        }

        .b-cart_error {
            &.m-warning {
                padding: 0;

                @include media(m-up) {
                    padding-top: 32px;
                }

                @include media(s) {
                    margin-bottom: 32px;
                }
            }
        }
    }

    &-main {
        grid-column: 1/9;

        @include media(t-down) {
            grid-column: 1/13;
        }
    }

    &-item {
        margin-bottom: 32px;
        background-color: color(white);
    }

    &-aside {
        grid-column: 9/13;

        @include media(t-down) {
            grid-column: 1/13;
        }
    }

    &-sticky {
        display: none;

        @include media(s) {
            display: block;
            position: fixed;
            top: 61px;
            left: 0;
            right: 0;
            z-index: 100;
        }
    }

    &-help {
        grid-column: 1/13;
    }

    &-slots {
        @include site-width();

        @include media(s) {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }

        .carousel-view-area {
            width: 100%;
        }

        & + .b-spinner {
            &::after {
                position: absolute;
            }
        }
    }

    &-slots_carousel {
        width: 100%;
        padding-bottom: 50px;
    }

    &-example-popups {
        grid-column: 1/13;
        display: flex;
        flex-wrap: wrap;
    }
}
