.product-name {
    .name-link {

    }
}

.pt_product-details {
    .amp-viewer-kit {
        .desktop-normal-view {
            #groutUsedHolder-fixed,
            #groutUsedHolder {
                bottom: -5px;
                z-index: 3;
            }
        }
    }
}

.l-main .visualizerIconContainer {
    position: relative;
    z-index: 5;
    margin-top: -60px;

    @include media(s) {
        width: 100%;
        float: none;
        margin: 10px 0 20px;
    }
}

.amp-viewer-kit {
    .desktop-normal-view {
        .main-container {
            margin-bottom: 0;
        }
    }
}

#pdpMain .product-top-content {
    @include media(s) {
        margin-right: 14px;
    }
}

.pt_product-details .breadcrumb-wrapper {
    padding-top: 14px;
}
