// Logo
.b-header_scan {

    // Styles for print
    @media print {
        display: none;
    }

    &.m-open {
        .b-header_scan-barcode {
            display: block;
        }
    }

    &-viewport {
        height: calc(100% - 48px);
    }

    &-barcode {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        background-color: color(gray-3);
    }

    &-btn_wrap {
        padding: 13px 0 15px;
        text-align: center;
    }

    &-close {
        @include icon(close-small, after, 24px);
        @include font(regular, 16px, 1.25);

        border-bottom: 1px solid color(red); //TODO: FE: should be refactored after old styles deleting
        position: relative;
        color: color(black); //TODO: FE: should be refactored after old styles deleting
        height: auto;
        padding: 0; //TODO: FE: should be refactored after old styles deleting
        text-transform: none; //TODO: FE: should be refactored after old styles deleting

        &::after {
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-45%);
        }
    }

    &-btn {
        cursor: pointer;
        height: auto;
        margin-right: 12px;
        max-width: 65px;
        padding: 0 32px 0 0; //TODO: FE: should be refactored after old styles deleting
        position: relative;
    }

    &-text {
        @include font(regular, 14px, 1.71);

        color: color(gray-5);
    }

    &-icon {
        @include icon(scan, before, 22px);

        color: color(red);

        &::before {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
