/* Global styling */
@import '01-core/all';
@import '02-configuration/all';
@import '03-base/all';
@import '05-components/all';

@include css-variables-colors;
@include css-variables-layout;

@import '06-blocks/all';
@import '07-sections/all';

.b-server_data {
  border: 1px solid color(red);
  padding: 10px 0;

  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    padding: 0 10px;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #000;
    overflow: hidden;
  }

  &-item:nth-child(2n) {
    background-color: color(gray-3);
  }

  &-item_id {
    font-size: 16px;
  }

  &-item_title {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  &-item_completed {
    font-size: 12px;
  }
}

// // Common styles init
// @include icons-classes;
