/* Global styling */
@import '01-core/all';
@import '02-configuration/all';
@import '03-base/all';
@import '05-components/all';

@include css-variables-colors;
@include css-variables-layout;

@import '06-blocks/all';
@import '07-sections/all';

.b-server_data {
  border: 1px solid color(red);
  padding: 10px 0;

  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    padding: 0 10px;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #000;
    overflow: hidden;
  }

  &-item:nth-child(2n) {
    background-color: color(gray-3);
  }

  &-item_id {
    font-size: 16px;
  }

  &-item_title {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  &-item_completed {
    font-size: 12px;
  }
}

// // Common styles init
// @include icons-classes;

.b-slider {
  &-inner {
    overflow: hidden;
  }

  &-counter {
    display: flex;

    &_next {
      display: block;
      width: 20px;
      height: 20px;
      background-color: red;
    }

    &_prev {
      display: block;
      width: 20px;
      height: 20px;
      background-color: green;
    }
  }

  &-slide {
    width: 600px;
    height: 275px;
    visibility: hidden;

    &.show {
      visibility: visible;
    }

    &.hide {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Horizontal slider

.b-horslider {
  overflow: hidden;
  position: relative;

  &-container {
    width: 1000px;
  }

  &-inner {
    display: flex;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
  }

  &-slide {
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-nav {
    border: 1px solid #000;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
  }

  &-nav_prev {
    width: 30px;
    height: 30px;
    background-color: red;
  }

  &-nav_next {
    width: 30px;
    height: 30px;
    background-color: green;
  }

  &-pagination {
    position: absolute;
    background-color: color(black);
    padding: 3px 5px;
    border-radius: 3px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
  }

  &-pagination_item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: color(gray-1);
    margin: 5px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover,
    &.m-active {
      background-color: color(red);
    }
  }
}

.b-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background-color: #fff;

  &_label {
    padding-bottom: 15px;
  }

  &_btn {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.calculating{padding:50px 0}
.calculating .title{text-align:center}
.calculating__field{width:100%;margin-top:50px;background:rgba(146,242,255,.15);padding:30px 0 40px 0}
.calculating__subtitle{text-align:center;font-size:18px;font-weight:700;margin-top:30px}
.calculating__subtitle:first-child{margin-top:0}
.calculating #gender:after{content:'';position:absolute;top:50%;transform:translateY(-50%);display:block;width:16px;height:16px;}
.calculating__choose{position:relative;display:flex;margin-top:30px;justify-content:center}
.calculating__choose-item{display:flex;align-items:center;justify-content:center;width:170px;height:50px;padding:0 10px;background:#fff;box-shadow:0 4px 15px rgba(0,0,0,.2);border:none;text-align:center;font-size:14px;cursor:pointer;outline:0;transition:.3s all}
.calculating__choose-item_active{color:#fff;background-color:#54ed39}.calculating__choose_medium{width:743px;justify-content:space-between;margin:30px auto 0 auto}
.calculating__choose_big{width:930px;justify-content:space-between;margin:30px auto 0 auto}
.calculating__choose_big .calculating__choose-item{width:200px}
.calculating__divider{width:490px;height:1px;margin:40px auto;background-color:rgba(0,0,0,.2)}
.calculating__total{width:490px;margin:0 auto;display:flex;justify-content:space-between;align-items:center}
.calculating__result{font-size:18px;font-weight:700}
.calculating__result span{font-size:42px}
