/* Global styling */
@import '01-core/all';
@import '02-configuration/all';
@import '03-base/all';
@import '05-components/all';

@include css-variables-colors;
@include css-variables-layout;

@import '06-blocks/all';
@import '07-sections/all';

.b-server_data {
  border: 1px solid color(red);
  padding: 10px 0;

  &-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-item {
    padding: 0 10px;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #000;
    overflow: hidden;
  }

  &-item:nth-child(2n) {
    background-color: color(gray-3);
  }

  &-item_id {
    font-size: 16px;
  }

  &-item_title {
    display: block;
    font-weight: bold;
    font-size: 20px;
  }

  &-item_completed {
    font-size: 12px;
  }
}

// // Common styles init
// @include icons-classes;

.b-slider {
  &-inner {
    overflow: hidden;
  }

  &-counter {
    display: flex;

    &_next {
      display: block;
      width: 20px;
      height: 20px;
      background-color: red;
    }

    &_prev {
      display: block;
      width: 20px;
      height: 20px;
      background-color: green;
    }
  }

  &-slide {
    width: 600px;
    height: 275px;
    visibility: hidden;

    &.show {
      visibility: visible;
    }

    &.hide {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// Horizontal slider

.b-horslider {
  overflow: hidden;
  position: relative;

  &-container {
    width: 1000px;
  }

  &-inner {
    display: flex;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
  }

  &-slide {
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-nav {
    border: 1px solid #000;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
  }

  &-nav_prev {
    width: 30px;
    height: 30px;
    background-color: red;
  }

  &-nav_next {
    width: 30px;
    height: 30px;
    background-color: green;
  }

  &-pagination {
    position: absolute;
    background-color: color(black);
    padding: 3px 5px;
    border-radius: 3px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
  }

  &-pagination_item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: color(gray-1);
    margin: 5px;
    cursor: pointer;
    transition: 0.3s all;

    &:hover,
    &.m-active {
      background-color: color(red);
    }
  }
}
